/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&famiy=Opan+Sans:wgth@400;700;800&family=Work+Sans:Wght@400;500;600;700;800&disply=swap');
/* shared styles */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans',sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header{
    /* margin: 20px 100px 0px 100px; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px 0px 100px;
}
.logo-img{
    font-size: 30px;
    font-weight: 700;
}
.logo-img img{
    width: 50px;
    align-items: center;
    gap: 10px;
}

.logo{
    color: rgb(244, 61, 177);
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
    font-size: 0.7rem;
    font-weight: 700;
}
nav li a{
    text-decoration: none;
    color: #131313;
}

.icon{
    margin-top: -15px;
    background: #e0dfdf;
    padding: 10px;
    border-radius: 5px;
}

/* button youtub styles */
.youtube{
    background-color: #e0dfdf;
    color: red;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.tiktok{
    background-color: #e0dfdf;
    color: #131313;
    font-size: 15px;
   
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 14%, 97%);
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 700px;
    margin: 0px;
    padding: 20px 100px 0px 100px;
}
.banner-content{
    max-width: 400px;
}

.banner-title{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-top: 95px;
}
.banner-title-item{
    font-size: 40px;
    font-weight: 1000px;
    margin-top: 5px;
    /* margin-bottom: 20px; */
    color: #ec45f8;
}
.banner-deckipsion{
   font-size: 12px;
   font-weight: 400;
}
.banner img{
    width: 400px;
    height: 400px;
}

.sign{
    font-size: 12px;
    background: rgb(244, 61, 177);
    color: #FFF;
    padding: 8px 20px;
    border-radius: 20px;
    border: 0;
    margin-right: 10px;
}
.go{
    font-size: 12px;
    background: rgb(49, 164, 252);
    color: #FFF;
    padding: 8px 20px;
    border-radius: 20px;
    border: 0;
}



/* mobile device */
@media screen and (max-width:576px) {
    nav,
    ul {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin-top: 0;
        padding: 0;
    }

    .logo-img{
        margin: 0;
    }
    .tolber{
        margin-top: 20px;
    }
    nav li{
        margin: 0;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: bottom center;
        background-size: 100%;
        padding: 0px;
    }
    .banner-title{
        margin-top: 50px;
    }
    .banner > img{
     
       width: 80%;
       height: 80%;
       padding-left: 50px;
    }
    .banner-content{
       font-weight: 50%;
       margin-left: 110px;
       padding-bottom: 20px;
       
    }
    
}

/* medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        margin: 10px 50px 10px 50px;
    }
    .banner img{
        width: 50%;
        height: 50%;
    }
    .banner-content{
        padding-bottom: 20px;
    }
}

